
/* SCSS HEX */
$cardinal: #BC3741ff;
$khaki: #B8AF9Fff;
$tan: #DFBD96ff;
$dun: #E9D0AFff;
$lion: #C0926Fff;
$jet: #2E2F33ff;
$dun-2: #E6C8A3ff;
$buff: #D5A27Eff;
$van-dyke: #442D2Fff;
$champagne: #F4E5CBff;


$primary-color: $tan;
$secondary-color: $cardinal;
$dark-bg-color: $van-dyke;
