.container {
  width: 100%;
  max-width: 1200px; // Вы можете изменить это значение в соответствии с вашими потребностями
  margin: 0 auto; // Это центрирует контейнер по горизонтали
  padding: 0 15px; // Добавляет отступы слева и справа
}
